* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 780px;
  height: 287px;
  border-radius: 12px;
  background: var(--light-purple, #AD9BE9);
  margin-left: -2px;
  margin-left: 400px;
  margin-top: 100px;  
  padding: 30px;
}

input {
  width: 340px;
  height: 39px;
  border-radius: 8px;
  background: #FFF;
}

label {
  display: block;
}

button {
  color: var(--white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  background: var(--dark-purple, #4A026B);
  height: 29px;
  margin-right: 10px;
  margin-top: 30px;
  margin-left: 250px;
}

/* .button1 {
  width: 780px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--light-purple, #AD9BE9);
  margin-left: 400px;
  margin-right: 200px;
  margin-top: 140px;
} */

.divver {
  width: 780px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 12px;
  border-radius: 12px;
background: #4B4B4B;
    color: white;
  padding: 20px;
  margin-left: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.date {
  display: flex;
  flex-wrap: nowrap;
  width: 82.114px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: #2A2A2A;
  margin-right: 900px;
}

.prices {
  display: inline-flex;
  padding: 10px 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: #40005D;
  margin-left: 600px;
  margin-top: -50px;

}

.name {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 150px;
  margin-top: -50px;
}


.adder {
  width: 780px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--light-purple, #AD9BE9);
    margin-top: 40px;
}

.btn {
  color: var(--white, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
margin-left: 400px;
margin-top: -20px;
}
.udo3 {
  width: 780px;
height: 91px;
flex-shrink: 0;
border-radius: 12px;
background: var(--light-purple, #AD9BE9);
margin-left: 350px;
border: none;
margin-top:50px;
}
.labe{
  color:black;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 400px;
margin-top: 30px;

}
.select{
  width: 124px;
height: 43px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;
margin-left: 890px;
margin-top: -60px;
}
